@{
    ViewBag.Title = "SaleOff";
}

<div class="jumbotron">
    <h1 class="display-4" style="color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
         background-color: red; padding: 10px; border-radius: 10px;">Sale Off!</h1>
    <p class="lead">
        Don't miss out on our amazing sale! Everything is on sale at incredible discounts. 
        Hurry up and grab your favorites before they're gone!
    </p>
    <hr class="my-4">
    <p>
        Take advantage of these fantastic deals and save big on your purchases. 
        This is a limited-time offer, so act fast and shop now!
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
    </p>
</div>